.inline-image {
  width: 40px;
  height: 40px;
  display: inline;
  filter: invert(100%);
  vertical-align: bottom;
}

.links-info {
  display: flex;
  column-gap: 8px;
}
.link-specification {
  flex-shrink: 2;
}
.info {
  flex-shrink: 3;
}

.pull-up {
  margin-top: 16px;
  display: none;
  height: 60px;
  width: 60px;
  filter: invert(100%);
}
.pull-up > img {
  height: 60px;
  width: 60px;
}

.fieldset-float {
  float: left;
}
.forms2 {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 4px;
  column-gap: 4px;
  grid-column: 4 / span 2;
}

.forms2 > fieldset {
  grid-column: 1 / span 2;
}

.forms2 > textarea {
  max-width: 217px;
  max-height: 150px;
}

.border-attention {
  border-width: 4px;
  border-radius: 8px;
  animation: border-attention 3s infinite;
}

.border-blue {
  border-width: 4px;
  border-radius: 8px;
  animation: border-blue 3s infinite;
}

#lookup-computer {
  position: absolute;
}

#datetime-container {
  padding: 4px;
  position: fixed;
  right: 0;
  bottom: 0;
  border-left: solid 2px;
  border-top: solid 2px;
  border-top-left-radius: 6px;
  animation: clock-border 6s infinite;
  background-color: black;
  transition: height 0.3s;
  height: 25px;
}

#countdown-manager {
  opacity: 0;
  transition: opacity 0.5s;
}

#datetime-container:hover {
  height: 90px;
}
#datetime-container:hover > #countdown-manager {
  opacity: 1;
}

@keyframes clock-border {
  0% {
    border-color: #0b0;
    box-shadow: 0 0 4px 4px #060;
  }
  50% {
    border-color: #4f4;
    box-shadow: 0 0 4px 4px #292;
  }
  100% {
    border-color: #0b0;
    box-shadow: 0 0 4px 4px #060;
  }
}

@keyframes border-blue {
  0% {
    border-color: rgb(54, 54, 255);
  }
  50% {
    border-color: rgb(60, 128, 255);
  }
  100% {
    border-color: rgb(54, 54, 255);
  }
}

@keyframes border-attention {
  0% {
    border-color: rgb(255, 0, 0);
    box-shadow: 0 0 4px 4px rgb(128, 0, 0);
  }
  50% {
    border-color: rgb(255, 128, 0);
    box-shadow: 0 0 4px 4px rgb(128, 64, 0);
  }
  100% {
    border-color: rgb(255, 0, 0);
    box-shadow: 0 0 4px 4px rgb(128, 0, 0);
  }
}

@media screen and (max-width: 600px) {
  .nav-links > a {
    opacity: 0;
    pointer-events: none;
  }
  .links-info,
  .pull-up {
    display: block;
  }
  nav:hover .nav-links > a {
    opacity: 1;
    pointer-events: auto;
  }
  nav:hover .pull-up {
    display: none;
  }
}
